{% extends 'layout.htm' %}
{% block content %}

<article class="media content-section">
    <div class="media-body">
        <div class="article-metadata">
            <a class="mr-2" href="#">{{ post[2] }}</a>
            <small class="text-muted">{{ post[3] }}</small>
        </div>
        <h2>{{post[0]}}</h2>
        <p class="article-content">{{ post[1]}}</p>
    </div>
</article>
{% if post[2] == session.get('user') %}
<a href="/post/delete/{{postid}}"><button type="button" class="btn btn-outline-danger">Delete</button></a>
<a href="/post/update/{{postid}}"><button type="button" class="btn btn-outline-dark">Edit</button></a>
{% endif %}


{% endblock %}